/* container */
#container>.innerbox {
    max-width: 1400px;
    margin: 0 auto;
}
/* 메뉴 네비게이션 */
.menu-nav {
    margin: 80px 0;
}
.menu-nav>.menu-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu-nav>.menu-nav-list>li {
    padding: 0 20px;
    font-size: 1.7em;
    font-weight: 500;
    line-height: 1.7em;
    position: relative;
}
.menu-nav>.menu-nav-list>li::after {
    content: "";
    display: block;
    width: 1px;
    height: 0.7em;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #333;
}
.menu-nav>.menu-nav-list>li:last-child::after {
    display: none;
}
/* 샐러드 메뉴 리스트 */
.salad-menu-wrap {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.salad-list {
    display: flex;
    width: 200%;
    height: 100%;
}
.salad-list>li {
    width: calc(100% / 6);
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.salad-list>.active-menu>img {
    height: 65%;
}
.salad-list>li>img {
    height: 40%;
}
/* 메뉴 텍스트 */
.salad-list .menutext {
    width: 100%;
    text-align: center;
}
.salad-list .menutext>p>span {
    display: block;
    color: #777;
}
/* 엑티브 메뉴 텍스트 */
.salad-list>.active-menu>.menutext>p {
    display: block;
    margin-top: 5px;
}
.salad-list>.active-menu>.menutext>strong {
    bottom: 0;
}
/* 사이드 메뉴 텍스트 */
.salad-list .menutext>strong {
    position: relative;
    bottom: -110px;
}
.salad-list .menutext>p {
    display: none;
}
/* 메뉴리스트 arrow */
.salad-menu-wrap>.barrow {
    width: 110%;
}
.salad-menu-wrap>.barrow>li {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    z-index: 2000;
    margin: 0 10px;
}
.salad-menu-wrap .barrow>.leftarrow {
    left: -20px;
}
.salad-menu-wrap .barrow>.rightarrow {
    right: -20px;
}

.salad-menu-wrap .barrow>.rightarrow>a,
.salad-menu-wrap .barrow>.leftarrow>a {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.salad-menu-wrap .barrow>.rightarrow>a {
    background-image: url(../image/icon/arrow-4.png);
}

.salad-menu-wrap .barrow>.leftarrow>a {
    background-image: url(../image/icon/arrow-3.png);
}
/* 상세정보 */
.menu-info-content {
    height: 1000px;
    margin-top: 50px;
}
/* 각 메뉴 정보 곂치기&숨기기 */
.menu-info-content>.menu-info {
    display: none;
    max-width: 1400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.menu-info-content>.active {
    display: block;
}
.menu-info-content>.menu-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* 레시피 */
.recipe {
    width: 1100px;
    text-align: center;
}
.recipe>h3 {
    font-size: 1.8em;
    margin-bottom: 50px;
}
.recipe>div {
    border-top: 3px solid #04573F;
}
.recipe span {
    font-size: 1.2em;
    display: block;
    word-break: keep-all;
}
/* 메인토핑 크기조절 */
.recipe>.main-topping {
    margin-bottom: 30px;
}
.recipe>.main-topping>ul>li {
    width: calc(100% / 5);
}
.recipe>.main-topping>ul>li>img {
    width: 100%;
}
/* 서브토핑 크기조절 */
.recipe>.sub-topping>ul>li {
    width: calc(100% / 7);
}
.recipe>.sub-topping>ul>li>img {
    width: 100%;
}
/* 영양정보 */
/* mobile 영양정보 숨기기 */
.mobile-component-chart {
    display: none;
}
.component-chart,
.mobile-component-chart {
    margin-top: 120px;
    text-align: center;
}
.component-chart>h3,
.mobile-component-chart>h3 {
    font-size: 1.8em;
    margin-bottom: 60px;
}
.component-chart>table {
    width: 100%;
    border: 2px solid #04573F;
    border-collapse: collapse;
}
.component-chart>table th,
.component-chart>table td {
    border-left: 1px solid #04573F;
    border-bottom: 2px solid #04573F;
    padding: 15px;
}
.component-chart>table th {
    width: calc(100% / 6);
}
@media screen and (max-width:1150px) {
    /* 레시피 반응형 크기조절 */
    .recipe {
        width: 92vw;
    }
}
@media screen and (max-width:1024px) {
    /* 사이드 메뉴 텍스트 제목 */
    .salad-list .menutext>strong {
        bottom: -9vw;
    }
    /* 슬라이드 메뉴 크기조절 */
    .salad-menu-wrap {
        height: 40vw;
        padding: 0 10px;
    }
    /* 메뉴텍스트 최소 크기 */
    .salad-list .menutext {
        min-width: 180px;
    }
    /* 영양정보 여백조절 */
    .component-chart {
        margin-top: 80px;
    }
    /* 메뉴정보 높이조절 */
    .menu-info-content {
        height: 100vw;
    }
}
@media screen and (max-width:767px) {
    /* 슬라이드 메뉴 리스트 1개만 보이기 및 크기조절 */
    .salad-menu-wrap {
        height: 70vw;
    }
    .salad-list {
        width: 600%;
    }
    /* 슬라이드 메뉴 텍스트 글씨크기조절 */
    .salad-list .menutext {
        font-size: 16px;
    }
    /* 슬라이드 메뉴 이미지 크기 조절 */
    .salad-list>.active-menu>img {
        min-height: 200px;
    }
    /* 슬라이드 메뉴 화살표 높이 조절 */
    .salad-menu-wrap>.barrow>li{
        top: 61%;
    }
    /* 메뉴정보 높이조절 */
    .menu-info-content {
        height: 1330px;
    }
    .recipe span{
        font-size: 1em;
        word-break: keep-all;
    }
    .recipe .long{
        word-break: break-all; 
    }
    /* 레시피 토핑 소개 모바일버젼 줄바꾸기 */
    .recipe>.main-topping>ul>li:first-child,
    .recipe>.sub-topping>ul>li:first-child {
        width: 100%;
        border: none;
        margin-bottom: 10px;
    }
    .recipe>.main-topping>ul>li:first-child>img,
    .recipe>.sub-topping>ul>li:first-child>img {
        width: 25%;
    }
    .recipe>.main-topping>ul>li,
    .recipe>.sub-topping>ul>li {
        border-top: 1px solid #777;
    }
    /* 서브토핑 크기 조절 */
    .recipe>.sub-topping>ul>li {
        width: calc(100% / 6);
    }
    /* pc 영양정보 table 숨기기 */
    .component-chart {
        display: none;
    }
    /* mobile 영양정보 나타내기 */
    .mobile-component-chart {
        display: block;
        margin-top: 80px;
    }
    .mobile-component-chart thead, tbody {
        display: inline-block;
    }
    .mobile-component-chart>table {
        width: 100%;
        border-top: 2px solid #04573F;
        border-collapse: collapse;
    }
    .mobile-component-chart>table>tbody{
        width: 100%;
    }
    .mobile-component-chart>table th {
        width: 13%;
    }
    .mobile-component-chart>table td {
        width: 19%;
    }
    .mobile-component-chart>table th,
    .mobile-component-chart>table td {
        padding: 15px;
        line-height: 20px;
        border-bottom: 1px solid #777;
    }
}
@media screen and (max-width:640px){
    /* 메뉴정보 높이조절 */
    .menu-info-content {
        height: 1230px;
    }
}
@media screen and (max-width:520px){
    /* 메뉴정보 높이조절 */
    .menu-info-content {
        height: 1130px;
    }
}
@media screen and (max-width:430px) {
    .salad-menu-wrap {
        min-height: 300px;
    }
    /* 메뉴정보 높이조절 */
    .menu-info-content {
        height: 1080px;
    }
}
@media screen and (max-width:328px) {
    .mobile-component-chart>table th,
    .mobile-component-chart>table td {
        padding: 15px;
    }
}